body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    background: linear-gradient(-75deg, rgb(3, 41, 20),rgb(15, 50, 42),rgb(85, 105, 82));
    color: aliceblue;
}

.navbar-brand {
    color: aliceblue;
    font-size: 35px;
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar-brand:visited {
    color: #ffffff;
}

.navbar-toggler {
    background-color: #ffffff;
    visibility: hidden;
}

.offcanvas {
    background:  linear-gradient(-75deg, rgb(3, 41, 20),rgb(15, 50, 42),rgb(85, 105, 82));
}

.offcanvas-title {
    color: aliceblue;
}

.offcanvas-body {
    background: linear-gradient(-45deg, rgb(55, 60, 56),rgb(83, 90, 86),rgb(20, 24, 23));
    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: aliceblue;
}

.offcanvas-header .btn-close {
    background-color: #ffffff;
}

.header {
    position:sticky;
    top: 0;
    width: 100%;
    padding: 0 20px;
    font-family:Arial, Helvetica, sans-serif;
    /* background-color: rgb(236, 72, 8); */
    background: linear-gradient(-75deg, rgb(3, 41, 20),rgb(15, 50, 42),rgb(85, 105, 82));
    color: aliceblue;
    text-align: left;
}

.index {
    /* background: linear-gradient(-45deg, rgb(55, 77, 107),rgb(86, 91, 134),rgb(21, 49, 72)); */
    background: linear-gradient(-45deg, rgb(55, 60, 56),rgb(83, 90, 86),rgb(20, 24, 23));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 20px;
    color: aliceblue;
}

.title {
    font-size: 40px;
    margin: 0;
}

.tag-line {
    font-size: 17px;
    margin: 0;
    padding-bottom: 9px;
}

.home-content {
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro {
    padding: 50px;
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../images/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.home-content #intro div h3 {
    font-size: 3.0rem;
    font-weight: 600;
}

.home-content #intro div p {
    text-align: justify;
}
 
button {
    border: none;
    background: none;
    text-align: left;
    color: aliceblue;
    font-size: 16px;
    border-radius: 9px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    background: linear-gradient(-75deg, rgb(3, 41, 20),rgb(15, 50, 42),rgb(85, 105, 82));
}

#submit {
    margin:20px 0px;
    height: 40px;
    font-size: 20px;
    background: linear-gradient(-75deg, rgb(3, 41, 20),rgb(15, 50, 42),rgb(85, 105, 82));
}

#quiz-question {
    text-align: left;
    /* margin: 20px; */
}

#quiz-question h2 {
    text-align: center;
    color: rgb(21, 71, 21);
}

.question {
    font-weight: 550;
    padding: 30px 0px 10px 0px;
}

.opt {
    padding:7px 0px;
}

.opt input {
    height: 16px;
    width: 16px;
    accent-color: rgb(37, 82, 37);
}

.opt label {
    padding-left: 20px;
}

#start-quiz {
    font-size: 25px;
    border-radius: 25px;
    padding:5px 15px;
    background: linear-gradient(-75deg, rgb(3, 41, 20),rgb(15, 50, 42),rgb(85, 105, 82));
}

@media (max-width : 700px) {
    .index {
        display: none;
        height: 0px;
    }

    .navbar-toggler {
        background-color: #ffffff;
        visibility: visible;
    }

    #intro {
        padding: 100px 50px;
    }
}

.footer {
    height: 250px;
    background-color: rgb(155, 188, 197);
}